/* HEADER CSS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/*Upper Nav start*/

.nav{
    height:40px;
    width:100%;
    background-color: black;
    display: inline-flex;
}
.navdiv1{
    height:40px;
    width:250px;
    display:flex;
    margin-left:900px;
}
.navdiv2{
    height:40px;
    width:100px;
    display: flex;
    
}
.navdiv3{
    height:40px;
    width:150px;
    display:flex;
   
}
.navdiv4{
    height:40px;
    width:100px;
    display:flex;
    
}
.navLogo{
    margin-top:10px;
    height:22px;
    width:25px;
}
.navText{
    color:white;
    margin-left:5px;
    margin-bottom:30px;
    margin-top:10px;
}

/*Upper Nav End*/

/*--Second Navbar start*/

.sportsjam_logo_maindiv{
    width:100%;
    height:90px;
    display:inline-flex;
}
.sportsjam_logodiv{
    height:70px;
    width:300px;
}
.searchBardiv{
    height:70px;
    width:650px;
    display:inline-block;
    margin-top:30px;
    margin-left: 180px;
}
.sportsjam_logo{
    width:90%;
    height:70px;
    margin-left: 20px;
    margin-top: 10px;
}
.searchBar{
    border-left:1px solid rgb(143, 141, 141);
    border-top:1px solid rgb(143, 141, 141);
    border-bottom:1px solid rgb(143, 141, 141);
    border-right:transparent;
    float:left;
    height:40px;
    margin-top:px;
    margin-left:80px; 
    width:500px; 
    padding-left:15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.searchbarimg{
    background-color:transparent;
    border-top:1px solid rgb(143, 141, 141);
    border-right:1px solid rgb(143, 141, 141);
    border-bottom:1px solid rgb(143, 141, 141);
    cursor:pointer;
    float:left;
    height:38px;
    margin-top:0px;
    text-align:center;
    width:30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.searchbarimg img{
    margin-top: 10px;
    width:auto; 
    height:20px;
    background-color: transparent;
}
.cartdiv{
    width:200px;
    height:70px;
    margin-left:150px;
    display:inline-flex;
    margin-top:20px;
}
.cartimg{
    width:50px;
    height:40px;
    margin-top: 10px;

}
.cartText{
    margin-left:10px;
    margin-bottom:10px;
    margin-top:15px;
    font-weight: 600;
    font-size:18px;
    color:black;
    
}
.photo>img{

  height: 419px;
  width: 667px;
}
#counter{
  position: fixed;
  /* top:65px;
  right: 180px; */
  width: 14px;
  height: 20px;
  border-radius: 50px;
  background-color: red;
  color: white;
  padding-left: 2px;
}

.category-navbar{
    width:99.69%;
    height:40px;
    border:1px solid silver;

}
.category-navbar ul{
    list-style: none;
    width:1100px;
    height:100%;
    
    margin-left:10px;
    position:relative;

}

/*--Second Navbar start*/

/*Dropdown Menu Starts*/

.category-navbar ul li{
    width:110px;
    height:100%;
    font-size: 14px;
    font-weight: 600;
    float:left;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s ease;
}
.category-navbar ul li:hover{
    color:white;
    background-color: black;
}

.mega-menu-1{
    position:absolute;
    top:40px;
    left:0;
    width:1200px;
    height:400px;
    display: inline-flex;
    float: left;
    box-sizing: border-box;
    transition: all 0.4s ease;
    visibility:hidden;
    opacity:0;
    padding:10px 20px;
    background-color: white;
    color:black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.mega-menu-2{
    position:absolute;
    top:40px;
    left:0;
    width:1400px;
    height:350px;
    display: inline-flex;
    float: left;
    box-sizing: border-box;
    transition: all 0.4s ease;
    visibility:hidden;
    opacity:0;
    padding: 5px 10px;
    background-color: white;
    color:black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.mega-menu-3{
    position:absolute;
    top:40px;
    left:40px;
    width:1000px;
    height:250px;
    float: left;
    display: inline-flex;
    box-sizing: border-box;
    transition: all 0.4s ease;
    visibility:hidden;
    opacity:0;
    padding:10px;
    background-color: white;
    color:black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.mega-menu-4{
    position:absolute;
    top:40px;
    left:10px;
    width:800px;
    height:250px;
    display: inline-flex;
    float: left;
    box-sizing: border-box;
    transition: all 0.4s ease;
    visibility:hidden;
    opacity:0;
    padding:10px;
    background-color: white;
    color:black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.mega-menu-5{
    position:absolute;
    top:40px;
    left:0;
    width:1000px;
    height:200px;
    display: inline-flex;
    float: left;
    box-sizing: border-box;
    transition: all 0.4s ease;
    visibility:hidden;
    opacity:0;
    padding:10px;
    background-color: white;
    color:black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.mega-menu-6{
    position:absolute;
    top:40px;
    left:550px;
    width:250px;
    height:150px;
    display: inline-flex;
    float: left;
    box-sizing: border-box;
    transition: all 0.4s ease;
    visibility:hidden;
    opacity:0;
    padding:10px;
    background-color: white;
    color:black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.mega-menu-7{
    position:absolute;
    top:40px;
    left:500px;
    width:350px;
    height:200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    float: left;
    box-sizing: border-box;
    transition: all 0.4s ease;
    visibility:hidden;
    opacity:0;
    padding:10px;
    background-color: white;
    color:black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.mega-menu-8{
    position:absolute;
    top:40px;
    left:550px;
    width:500px;
    height:400px;
    display: inline-flex;
    float: left;
    box-sizing: border-box;
    transition: all 0.4s ease;
    visibility:hidden;
    opacity:0;
    padding:10px;
    background-color: white;
    color:black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.inner-mega-menu-1{
    width:120px;
    float: left;
    text-align: left;
    line-height: 25px;
    margin-right: 80px;
}
.brand{
    font-size:15px;
    font-weight: 1200;
    color:black;
}
.brand-fellow{
    font-size: 12px;
    font-weight: 600;
    color:black;
}
.category-image{
    height:150px;
    width:200px;
    margin-top:30px;
    margin-right:0px;
}
.category-navbar ul li:nth-child(1):hover .mega-menu-1{
    opacity: 5;
    visibility: visible;  
}
.category-navbar ul li:nth-child(2):hover .mega-menu-2{
    opacity: 5;
    visibility: visible;  
}
.category-navbar ul li:nth-child(3):hover .mega-menu-3{
    opacity: 5;
    visibility: visible;  
}
.category-navbar ul li:nth-child(4):hover .mega-menu-4{
    opacity: 5;
    visibility: visible;  
}
.category-navbar ul li:nth-child(5):hover .mega-menu-5{
    opacity: 5;
    visibility: visible;  
}
.category-navbar ul li:nth-child(6):hover .mega-menu-6{
    opacity: 5;
    visibility: visible;  
}
.category-navbar ul li:nth-child(7):hover .mega-menu-7{
    opacity: 5;
    visibility: visible;  
}
.category-navbar ul li:nth-child(8):hover .mega-menu-8{
    opacity: 5;
    visibility: visible;  
}

/* MAIN PAGE CSS */
.first{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#money{
  display: flex;
}
#money>p{

  margin: 20px 10px;
}
#baq{
  margin-top: 20px;
  display: flex;
}
#baq>button{
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 15px
}
/* #baq>input{
  border: 1px solid black;
  width: 50px;
  margin-left: 20px;
} */
#baq>label{
  margin-left: 10px;
}
.hep{
  width: 20px;
}
.hep+input{
  width: 20px;
}
#qh5{
  display: flex;
  border: 1px solid grey;
  width: 60px;
  margin-left: 10px;
  height: 20px;
}
#gol>h1{
  border-bottom: 1px solid grey;
  width: 90%;
}
#socialMediaIcons>img {
  margin: 10px 10px;
}
#socialMediaIcons>img:hover{
  cursor: pointer;
}

.smt {
  color:grey;
  font-size: 14px;
  margin: 20px 10px;
}
.smt:hover{
  cursor: pointer;
}
input+button{
  background-color: black;
  color: white;
  padding: 10px;

}
button:hover{
  cursor: pointer;
}
#rpt{
  color: blue;
  margin-top: 20px;
}
#rpt:hover{
  color: orange;
  cursor: pointer;
}
img[src="https://previews.123rf.com/images/grgroup/grgroup1703/grgroup170302648/73144390-blurred-silhouette-oval-dialog-box-icon-vector-illustration.jpg"]{
  width: 20px;
  display: inline;
  color: blue;
}
img[src="https://www.clipartmax.com/png/middle/137-1378401_refer-a-friend-material-design-icon-group.png"],img[src= "https://cdn0.iconfinder.com/data/icons/online-clothes-shopping-set/128/iStar_Design_Online_Shopping_LineIcons_Live-26-512.png"]{
  width: 20px;
}

#cart1{
  display:none;
  position: absolute;
  top: 100px;
  right: 50px;
  width: 150px;
  max-height: 500px;
  overflow: scroll;
  overflow-x: hidden;
  border: 8px solid black;
  border-top: 15px solid black;
}
#cart1 p{
  font-size: 12px;
  padding: 2px;
}
#cut{
  margin-left: 90%;
}


/* FOOTER CSS */
.cont {
    display: flex;
    justify-content: space-around;
    background-color: #e1e1e1;
    padding: 30px 0px;
  }
  .cont > div {
    text-align: center;
  }
  .gift {
    font-size: 60px;
  }
  .gift:hover {
    color: #f3a310;
  }
  a {
    text-align: center;
    color: #000000;
    font-size: 20px;
  }
  li {
    list-style-type: none;
  }
  .copyright {
    color: #979797;
    font-family: open sans;
    font-size: 12px;
    text-transform: uppercase;
    float: left;
  }
  
  /* Footer Styling */
  
  .nf {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
    font-size: 12px;
    background-color: #262626;
  }
  .t4 {
    color: #dedede;
    font-family: raleway, sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 20px;
  }
  .nav li a {
    line-height: 24px;
    color: #dedede;
    text-decoration: none;
    font-size: 15px;
    font-family: raleway, sans-serif;
    font-weight: 300;
  }
  .n1 li a {
    line-height: 24px;
    color: #dedede;
    text-decoration: none;
    font-size: 15px;
    font-family: raleway, sans-serif;
    font-weight: 300;
  }
  .n1 li a:hover {
    color: #f39c39;
  }
  .nav li a:hover {
    color: #f39c39;
  }
  .mob_icon {
    color: #dedede;
    font-family: ralway, sans-serif;
    line-height: 17px;
    font-weight: 300;
  }
  .links {
    color: #dedede;
    margin-right: 10px;
    font-size: 30px;
    margin-bottom: 10px;
  }
  .cpyrt {
    text-align: left;
    font-family: open sans;
    top: 10px;
    font-size: 12px;
    color: #dedede;
  }
  .callout4 {
    width: 96%;
    margin: 40px 2%;
  }
  .callout4 h2 {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    padding: 0 0 10px;
    color: #333;
    text-transform: uppercase;
  }
  .callout4 p {
    font-family: raleway, sans-serif;
    font-size: 13px;
    color: #333;
    line-height: 28px;
    text-align: center;
  }
  .callout4 a.btn {
    text-align: center;
    border: 1px solid #000;
    color: #000;
    font-size: 18px;
    margin: 25px 0 0;
    padding: 8px 45px;
    text-decoration: none;
    display: inline-block;
    margin-left: 555px;
  }
  .callout4 a.btn:hover {
    color: #f3a310;
    border: 1px solid #f3a310;
    font-size: 18px;
  }
  .left-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    height: 500px;
  }
  .rigthimg img {
    width: 40%;
  }
  .left-text h2 {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 17px;
    text-align: left;
    padding: 0 0 10px;
    color: #333;
    text-transform: uppercase;
  }
  .left-text p {
    font-family: raleway, sans-serif;
    font-size: 13px;
    color: #333;
    line-height: 28px;
  }
  div.left-text a.btn {
    background: #262626;
    color: #fff;
    float: left;
    font-size: 14px;
    font-weight: 700;
    margin: 40px 0 0;
    padding: 9px 25px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .victor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;
    margin-left: 20px;
  }
  .victor > div > p {
    text-align: center;
    color: #757575;
    font-family: raleway, sans-serif;
  }
  .middle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin: 20px;
  }
  .middle > div > p {
    font-family: raleway, sans-serif;
    line-height: 26px;
    text-align: justify;
    font-size: 15px;
  }
  #paralink {
    border: 1px solid #000000;
    padding: 10px;
    text-decoration: none;
    font-family: raleway, sans-serif;
    font-size: 15px;
  }
  .stereo {
    width: 100%;
  }
  .stereo a {
    font-size: 14px;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    font-family: ralway, sans-serif;
    font-weight: 500;
  }
  .stereo > a:hover {
    background-color: #000000;
    color: #ffffff;
    font-weight: 500;
  }
  .para {
    width: 90%;
  }
  .tab-heading {
    width: 98%;
    text-align: center;
    display: inline-block;
  }
  .tab-heading > h2 {
    color: #595959;
    font-size: 30px;
    padding: 70px 0 30px;
    text-transform: uppercase;
    font-family: open sans;
    font-weight: bold;
  }
  .para > h2 {
    color: #000000;
    font-size: 18px;
    text-transform: uppercase;
    font-family: open sans;
  }
  .n1{
    height:40px;
    width:100%;
  }
  
  @media screen and (min-width: 0px) and (max-width:480px) {
    .first{
      display: block;
      width: 90%;
      padding: 2%;
    }
    #gol>h1{
      font-size: 18px;
      border: none;
    }
    .photo>img{
      width: 80%;
      margin:auto
      
    }
    .photo{
      border: 1px solid red;
    }
    
  }